.navigator {
  width: 100%;
  max-width: 1024px;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.navigator_logo {
  height: 24px;
}

.navigator_logo > svg {
  height: 100%;
  width: auto;
}

.navigator_links_desktop {
  display: none;
  width: auto;
  align-items: center;
  gap: 48px;
}

.navigator_links_desktop > a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: calc(16px * 1.2);
  position: relative;
  cursor: pointer;
  user-select: none;
}

.navigator_links_desktop > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  height: 1px;
  width: 25px;
  transform: scale(0);
  transform-origin: left center;
  transition: transform 200ms ease-in-out;
}

.navigator_links_desktop > a:hover::after {
  transform: scale(1);
}

.navigator_language_desktop {
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
}

.navigator_language_desktop_flag {
  height: calc(16px * 1.2);
  width: auto;
  cursor: pointer;
  user-select: none;
}

.navigator_language_desktop_flag > svg {
  height: 100%;
  width: auto;
}

/* MOBILE STYLING */

.mobile {
  position: relative;
  display: block;
  height: 24px;
  width: 24px;
}

.mobile_icon {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2500;
}

.mobile_icon > svg {
  height: 100%;
  width: auto;
}

.mobile_menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  background-color: var(--black);
  width: 35vw;
  padding: 0 8px;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  transform-origin: top right;
  transition: transform 200ms ease-in-out;
}

.mobile_menu > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.mobile_menu > ul > li {
  width: 100%;
  padding: 8px 0;
}

.mobile_menu > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.mobile_menu > ul > li > a,
.navigator_language_mobile > span {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  line-height: calc(14px * 1.2);
}

.navigator_language_mobile {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.navigator_language_mobile_flag {
  height: calc(14px * 1.2);
  width: auto;
}

.navigator_language_mobile_flag > svg {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 470px) {
  .mobile {
    display: none;
  }

  .navigator_links_desktop {
    display: flex;
  }
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
  .navigator {
    max-width: 100%;
  }

  .navigator_logo {
    height: 32px;
  }

  .navigator_links_desktop > a {
    font-size: 18px;
    line-height: calc(18px * 1.2);
  }

  .navigator_language_desktop_flag {
    height: calc(18px * 1.2);
  }

  .navigator_links_desktop {
    gap: 64px;
  }
}
