.navigator {
  position: fixed;
  width: 100%;
  max-width: 1024px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid var(--white);
  transition: background-color 200ms ease-in-out;
  z-index: 2500;
}

.navigator_logo {
  height: 24px;
}

.navigator_logo > svg {
  height: 100%;
  width: auto;
}

.navigator_links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigator_links > a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

.navigator_links > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  height: 1px;
  width: 25px;
  transform: scale(0);
  transform-origin: left center;
  transition: transform 200ms ease-in-out;
}

.navigator_links > a:hover::after {
  transform: scale(1);
}

@media screen and (min-width: 400px) {
  .navigator {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    border-radius: 0px 0px 4px 4px;
  }

  .navigator_links {
    width: max-content;
    justify-content: center;
    gap: 48px;
  }
}
